		body {
			
			font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
			background: #fbf8f4 url(../images/bg.jpg) repeat top left;
			font-weight: 100%;
			font-size: 100%;
			color: #aa3e03;
			overflow-y: scroll;
		}
		header {
   			font-size: 1.5em;
   			font-family: 'Pacifico', cursive;
   			text-align:center;
   			float:center;
   		}
		span {
   			display:block;
   		}

		h1 .cursive {
  			font-size: 1.5em;
   			line-height:0.5em;
   			color: #737fc0;
   			font-family: 'Mr Dafoe', cursive;
   			margin: auto;
    		width: 35%;
    		padding: 10px;
    		text-align: center;
		}